<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">Bienvenue sur Cobblemon-France</span>
        <span id="welcomeDescription">Le serveur Cobblemon-France vous offre une expérience de jeu unique, en combinant les fonctionnalités de Minecraft avec les combats de type RPG de Pokémon. Avec une communauté active et amicale, vous pourrez explorer un monde rempli de défis, de quêtes et de créatures à capturer.</span>
        <br>
        <span id="welcomeDescCTA">Rejoignez-nous pour une aventure passionnante dans l'univers de Cobblemon-France</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>